body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

 ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 13px;
    overflow: hidden;
    background-color: #252525;
    box-shadow: 0px 3px 0px rgb(245, 85, 85);
    position:fixed;
    top: 0;
    width:100%;
    z-index:1;
 }
 
 li {
    float :right;
    margin-right: 20px;
}
li a.active
{
  color:white;
}
li a{
    display:block;
  padding: 14px 16px;
  text-align:center;
    text-decoration:none;
    font-family: sans-serif;
    font-size: 24px;
    color:white;
}
  li a:hover
{
    color:red;
    transition: all 5s;
}
.blog_name
{
    float:left;
    color:red;
    font-size: 26px;
    text-align:center;
    padding: 15px;
    margin: 0;
    font-family:cursive;
}

.section1{
  height:800px;
}

.section2 img{
  height:800px;
}

.section1 img
{
    height: 800px;
    width:100%;
    margin:0;
    padding: 0;
    overflow:hidden;
    filter: blur(5px);
  -webkit-filter: blur(5px);
  
}

 .tagline
 {
     position:absolute;
     text-align: center;
     padding-left: 30px;
     bottom: 400px;
     font-family:cursive;
     background-color:rgba(129, 233, 43, 0.514);
    color:black;  
    top: 17%; 
    padding:10px;
    height: 70px;
    padding-bottom:18px;
    box-shadow: 8px 8px 2px rgb(29, 51, 33);  
 }
 .section1 .heading{
        text-align: center;
        font-size: 26px;
        font-family:cursive;
        font-weight: bolder;
        bottom: 200px;
        position:absolute;
        /*
        padding-left: 100px;
        padding-right:100px;
        margin-left: 250px;
        */padding-left: 22%;
        top: 48%;
        height:250px;
        background-color: transparent;
        color:rgb(61, 18, 18);
 }
 .container .clip
 {
   -webkit-clip-path:polygon(25% 0%, 75% 0%, 75% 75%, 50% 75%, 65% 100%, 40% 75%, 25% 75%);
   clip-path: polygon(25% 0%, 75% 0%, 75% 75%, 50% 75%, 65% 100%, 40% 75%, 25% 75%);
   height: 300px;
   /*bottom: 70px;*/
   left: 45%;
   top:60%;
   font-size: 23px;
   font-family: fantasy;
   width:75%;
   display:none;
   position:absolute;
   background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  padding: 20px;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin-left: 8px;
  margin-top: 15px;
  text-align: center;
 }
 .container .button
 {
   left: 49%;
   position: absolute;
   bottom:300px;
   top:90%;
 }
 .button .btn{
  border-radius: 30px;
  padding: 20px;
  font-weight:bold;
  color: black;
  background-color: transparent;
  outline:none;
  border-color: black;

 }
 .button .btn:hover
 {
   background-color:yellow;

 }
 #des
 {
   font-size: 30px;
   text-align:center;
   margin:0;
   padding:30px;
   font-weight: bolder;
   margin-bottom:5px;
   background-color: rgb(206, 247, 111);
   box-shadow: 0px 10px 0px black;
   color:rgb(182, 16, 16);
   font-family: cursive;
 }
 .destination img
 {
   margin:0;
   padding: 0;
   height : 100%;
   width:100%;
   top: 0;
   position:relative;
 }

 a{
  text-decoration: none;
}

a:link{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}